<mat-toolbar color="primary">
  <span>Components and Community</span>
</mat-toolbar>
<section class="m-1">
  <div class="subsection">
    <h3>
      Anngular Material
    </h3>  
    <a href="https://material.angular.io/components/categories" target="_blank">Angular material</a>
  </div>  
  <div class="subsection">
    <h3>
      Other components
    </h3>  
    <a href="https://github.com/brillout/awesome-angular-components" target="_blank">Awesome components</a>
  </div>
  <hr>
  <div class="subsection">
    <h3>
      Color picker
    </h3>
    <span class="label">Choose one color:</span><input [(ngModel)]="mycolor" [(colorPicker)]="color" [style.background]="color"/>
  </div>
  <hr>
  <div class="subsection">
      <h3>
        Autocomplete
      </h3>
      <span class="label">Search country</span>
      <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
  </div>
  <hr>
  <div class="subsection">
    <h3>
      PDF viewer
    </h3>
    <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
    <pdf-viewer [src]="pdfSrc" 
                [render-text]="true"
                style="display: block;"
    ></pdf-viewer>
    
  </div>
  <hr>
</section>