<mat-toolbar color="primary">
  <span>How Cool Is To Dev Here</span>
</mat-toolbar>
<section>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip color="primary" selected="true" matTooltip="Show me!" matTooltipPosition="right">Typescript is Your Friend!</mat-chip>
    <mat-chip color="accent" selected="true" matTooltip="Change me!" matTooltipPosition="right">A Fast Dev Cycle</mat-chip>
    <mat-chip matTooltip="Click me!" matTooltipPosition="right" (click)="onClick($event)">Debugging and Other Tools</mat-chip>
  </mat-chip-list>
</section>