<!-- TODO: Sidenav -->
<!-- TODO: tooltips with desc, header/footer? font sizes, rowHeigth=fit? / perfect scrollbar --> 
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Angular Overview</mat-grid-tile> 
  <mat-grid-tile>How Cool Is To Dev Here</mat-grid-tile>
  <mat-grid-tile>Architecture Explained</mat-grid-tile>
  <mat-grid-tile>Modules and Builds</mat-grid-tile>
  <mat-grid-tile>Forms and Validation</mat-grid-tile>
  <mat-grid-tile>Routing Explained</mat-grid-tile>
  <mat-grid-tile>Components and Community</mat-grid-tile>
  <mat-grid-tile>Summing Up</mat-grid-tile>
</mat-grid-list>