<section class="app-main-view">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a [routerLink]="['./overview']"><h1>Angular Overview</h1></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [routerLink]="['./cool-dev']"><h1>How Cool Is To Dev Here</h1></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [routerLink]="['./architecture']"><h1>Architecture Explained</h1></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [routerLink]="['./modules-builds']"><h1>Modules and Builds</h1></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [routerLink]="['./forms-validation']"><h1>Forms and Validation</h1></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [routerLink]="['./routing-explained']"><h1>Routing Explained</h1></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [routerLink]="['./components-community']"><h1>Components and Community</h1></a>
    </mat-grid-tile>
    <mat-grid-tile><h1>Summing Up</h1></mat-grid-tile>
</mat-grid-list>